html {
  max-width: 100%;
  min-height: 100vh;
  background-image: linear-gradient(-225deg, #FFE6FA 0%, #fdf2cd 100%);
  font-family: "Cabin", sans-serif;
}

.search-form {
  min-height: 10vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-bar {
  width: 50%;
  border: none;
  padding: 10px;
  border-radius: 10px 0px 0px 10px;
  outline: none;
}

.search-button {
  background-color: gray;
  border: none;
  padding: 10px 20px;
  color: white;
  border-radius: 0px 10px 10px 0px;
  cursor: pointer;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}
.card {
  width: 50%;
  background-color: #FFFFFF;
  display: grid;
  place-items: center;
  opacity: 0.9;
  margin: 20px;
  border-radius: 20px;
}

.ingredients-list {
  list-style-type: none;
  text-align: center;
  width: 80%;
}

.recipe-img {
    border-radius: 40px;
}

.recipe-inf p {
  text-align: center;
  margin: 10px;
}

ul {
  padding: 0
}

@media (max-width: 600px) {
  .card {
    width: 100%;
  }

  h1 {
    text-align: center;
  }

  .recipe-img {
    width: 80%;
  }

  .ingredients-list {
    width: 80%;
  }
}
